@mixin font-face($font-family, $font, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src:
      url('../fonts/#{$font}.woff2') format('woff2'),
      url('../fonts/#{$font}.woff') format('woff');
    font-display: swap;
    font-weight: $weight;
    font-style: $style;
  }
}
